@font-face {
  font-family: "BebasNeueBold";
  src: URL("./fonts/BebasNeue/BebasNeue-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue";
  src: URL("./fonts/BebasNeue/BebasNeue-Regular.ttf") format("truetype");
}

body {
  font-family: Noto Sans, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

.square-grid {
  margin: auto;
  --columns: 23;
  display: grid;
  --content-width: 1000px;
  width: var(--content-width);
  grid-template-columns: repeat(var(--columns), 1fr);
  --row-size: calc((var(--content-width)) / var(--columns));
  grid-auto-rows: var(--row-size);
}

/* Navbar container */
.header {
  font-family: BebasNeueBold;
  font-weight: bold;
  background-color: rgb(10, 62, 84);
  height: 80px;
  line-height: 90px;
  display: flex;
  overflow: auto;
  position: relative;
  white-space: nowrap;
}

/* Generic links inside the navbar */
.header a {
  float: left;
  font-size: 24px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
}

/* Project name  */
.header p {
  float: left;
  font-size: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  margin-top: 3px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-weight: bold;
  font-family: BebasNeueBold;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  padding: 0px 0px;
  background-color: inherit;
  margin-left: 20px;
  margin-right: 20px;
}

/* Regular buttons */
.regularbtn {
  float: left;
  font-weight: bold;
  font-family: BebasNeueBold;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  padding: 0px 0px;
  background-color: inherit;
  /* margin-top: 24px; */
  line-height: inherit;
  margin-left: 20px;
  margin-right: 20px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  margin: 0;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.visualizebtn {
  line-height: normal;
  float: left;
  border: none;
  color: white;
  font-family: BebasNeue;
  padding: 8px 24px 0px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #23d57c;
  /* display: block; */
  position: relative;
  height: 60%;
  /* padding: 20px 40px; */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* text-shadow: 0px 1px 0px #000; */
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #d0ffc4, 0 6px 0 #009155;
  -moz-box-shadow: inset 0 1px 0 #d0ffc4, 0 6px 0 #009155;
  box-shadow: inset 0 1px 0 #d0ffc4, 0 6px 0 #009155;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.visualizebtn:active {
  border: none;
  top: 6px;
  background-color: #01a257;
  color: rgb(225, 224, 224);
  -webkit-box-shadow: inset 0 1px 0 #c4ffc4, inset 0 -3px 0 #009155;
  -moz-box-shadow: inset 0 1px 0 #c4ffc4, inset 0 -3pxpx 0 #009155;
  box-shadow: inset 0 1px 0 #c4ffc4, inset 0 -3px 0 #009155;
}

.visualizebtn:after {
  border: none;
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #002b20;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.slidecontainer {
  margin-top: 5px;
  margin-left: 20px;
  width: 200px; /* Width of the outside container */
  min-width: 200px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
